.createPost{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 5px;
}

 .main-div{
    border-top: 1px solid rgb(173, 173, 173) ;
} 

.post-header{
    display: flex;
}

#post-button{
    border: none;
    color: #339ce3;
    background:none;
    font-weight: bolder;
    cursor: pointer;
}

.details{
    border-top: 1px solid rgb(173, 173, 173) ;
}

textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    resize: vertical;
    min-height: 80px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}


#output{
    width: 300px;
    border: none;
    outline: none;
    margin-top: 5px;
}